@import "~bootstrap/scss/bootstrap";

.main {
	display:flex;
	flex-direction: column;
	gap:50px;


	.active-feed {
		display:flex;
		gap: 50px; 
		.activeUsers {
			border-radius: 20px;
			flex: 1;
		}

		.feed {
			border-radius: 20px;
			flex:3;
		}
	}
}