@import "~bootstrap/scss/bootstrap";


.person {
  .list-group-detailed {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    .list-group-item {
      display: flex;
      gap: 30px;
      padding: 20px;

      .posts {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;

        .posts-list {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 20px;

          ul {
            display: flex;
            flex-direction: column;
            gap: 30px;
            .post {
              display: flex;
              flex-direction: column;
              gap: 20px;
              border: 1px solid #ADC2A9;
              border-radius: 20px;
              padding: 20px;

              .edit-post {
				  display:flex;
				  justify-content: space-between;
                .title {
                  font-size: 1.2em;
                  font-style: italic;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
      .img {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
		button {
			background-color: #ADC2A9;
			color:white;
		}
		form {
			button {
				background-color: #ADC2A9;
			}
		}

        img {
          height: 300px;
          width: 300px;
          border-radius: 50%;
        }
      }

      .info-buttons {
        display: flex;
        flex-direction: column;

        .buttons {
          display: flex;
          flex-direction: row-reverse;
          gap: 20px;
          button {
            background-color: #ADC2A9;
            color: white;

            &:hover {
              color: white;
            }
          }
        }
        .ta {
          display: flex;
          flex-direction: column;
          .user-back {
            display: flex;
            justify-content: space-between;
            .user {
              justify-content: justify;
              font-weight: bold;
              font-size: 2.5em;
            }
            .button-back {
              button {
                background-color: #ADC2A9;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .person {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .list-group-detailed {
      justify-content: center;
      .info-buttons {
        width: 100%;
        justify-content: space-between;
      }
      .ta {
        justify-content: justify;
      }
    }
  }
}
@media (max-width: 767px) {
  .person {
    .list-group-detailed {
      .list-group-item {
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .img {
          gap: 5px;
          img {
            height: 200px;
            width: 200px;
          }
        }
        .info-buttons {
          align-items: center;
          gap: 20px;

          .ta {
            align-items: center;
            text-align: center;
            max-width: 100%;

            .user-back {
              flex-direction: column-reverse;
              .user {
                font-size: 2em;
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
