@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {

	font-family: Roboto, Helvetica, Arial, sans-serif;
	background-color: #D3E4CD;
}

.list-group-item {
	background-color: #FEF5ED ;

}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
