@import "~bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

body {
  background-color: $blue-100;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
